body {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

a {
    text-decoration: none;
}

nav div a {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

p {
    color: aliceblue;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(11, 11, 11);
    justify-content: space-around;
    border-radius: 50px;
    border: solid 6px blueviolet;

}


nav img {
    height: 50px;
}

nav input:nth-of-type(2) {
    border: 0;
    background-image: linear-gradient(90deg,
            blueviolet,
            black);
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
    transition: .5s;
}

nav input:nth-of-type(2):hover {
    border: 3px solid;
    border-color: blueviolet;
    background: none;
}
nav input:nth-of-type(2):hover {
    transform: scale(0.9);
   
}
form {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav input:nth-of-type(1) {
    height: 26px;
}











.popular {
    display: flex;
    justify-content: center;
}


.divPopular {
    display: flex;
    justify-content: center;
}

.cards {
    width: 100px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s ease;
    font-size: 20px;
}

.cards:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(140%);
    text-align: center;
    transform: scale(1.30);
}

.divMovies {
    display: flex;
    padding: 60px;
    flex-wrap: wrap;
    gap: 15px;
}

.divMovies div {
    width: 200px;
    text-align: center;
    transition: 0.5s ease;
    padding: 10px;
    font-size: 20px;
}

.divMovies div:hover {
    width: auto;
    border: 3px solid;
    border-color: blueviolet;
    cursor: pointer;
    transform: scale(1.30);
    background-color: black;
    filter: contrast(140%);
    padding: 20px;
}